@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
} 

.container {
  display: flex;
  /* flex-direction: column; */
  justify-content:space-between;
  border: 1px solid grey;
  height: 90vh;
  /* width: 100vw; */
  align-items:end;
  flex-wrap: wrap;
  align-content:flex-start;
}

.box {
  width: 98vw;
  line-height: 150px;
  height: 150px;
  font-size: 4em;
  text-align: center;
  border-radius: 10px;
}

#box1 {
  background-color: rgb(243, 57, 57);
}
#box2 {
  background-color: rgb(243, 209, 57);
}
#box3 {
  background-color: rgb(113, 243, 57);
}
#box4 {
  background-color: rgb(57, 135, 243);
}
#box5 {
  background-color: rgb(147, 57, 243);
}